/* Estilos generales */
body {
    background: #202020;
    color: whitesmoke;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

/* Barra de navegación superior */
.navbar {
    background: #404040;
    padding: 10px 0;
    flex-shrink: 0;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    list-style: none;
    margin: 0 15px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 22px;
}

.navbar ul li a i {
    font-size: 28px;
}

.navbar ul li a:hover {
    color: aquamarine;
}

/* Estructura del layout con barra lateral */
.layout {
    display: flex;
    height: calc(100vh - 50px); /* Resta la altura de la barra de navegación superior */
}

/* Barra de navegación lateral */
.sidebar {
    background: #303030;
    width: 250px;
    padding-top: 20px;
    height: 100%; /* Asegura que ocupe todo el alto */
    position: fixed;
    top: 50px; /* Ajuste para la altura de la barra superior */
    left: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    font-size: 18px;
}

.sidebar ul li a:hover {
    background: #505050;
    border-radius: 5px;
}

/* Estilos para el contenido principal */
.main-content {
    margin-left: 260px; /* Deja espacio para la barra lateral */
    padding: 20px;
    width: calc(100% - 260px); /* Resta el ancho de la barra lateral */
    height: 100%;
    overflow: auto;
}

.main-content h1 {
    font-size: 28px;
    color: aquamarine;
}
