{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="welcome-container">
    <h1>Bienvenido al Sistema Contable</h1>
    <p>Este sistema te permitirá gestionar de forma eficiente tus operaciones financieras y contables. A continuación, te presentamos algunas de las principales funcionalidades:</p>

    <div class="card">
        <h2>Gestión de Usuarios</h2>
        <p>Crea, edita y administra cuentas de usuarios con diferentes roles, como Administrador, Contador o Usuario normal.</p>
    </div>

    <div class="card">
        <h2>Registro de Asientos Contables</h2>
        <p>Registra todas las transacciones contables de la empresa y mantén un control claro de tus movimientos financieros.</p>
    </div>

    <div class="card">
        <h2>Generación de Reportes</h2>
        <p>Genera reportes del libro diario y mayor, consulta balances financieros y obtén una visión clara de la situación económica de la empresa.</p>
    </div>

    <div class="card">
        <h2>Autenticación Segura</h2>
        <p>Accede al sistema con credenciales seguras. Dependiendo de tu rol, tendrás acceso a diferentes funcionalidades.</p>
    </div>
    </div>
</div>

{% endblock %}
